@foreach (var sport in Model)
{
    <ul class="mtree transit" style="opacity: 1;">
        <li class="mtree-node mtree-closed" style="opacity: 1; transform: translateY(0px);">
            <a href="" ng-click="setBreadcrumbPath('@sport.Name')" style="cursor: pointer;"><i class="sport sport-futbol"></i><span>@sport.Name</span></a>
            <ul class="mtree-level-1" style="overflow: hidden; height: 0px; display: none;">
                @foreach (var region in sport.Regions)
                {
                    <li class="mtree-node mtree-closed">
                        <a href="#" ng-click="setBreadcrumbPath('@sport.Name'+','+'@region.Name')" style="cursor: pointer;">@region.Name</a>
                        <ul class="mtree-level-2" style="overflow: hidden; height: 0px; display: none;">
                            @foreach (var country in region.Countries)
                            {
                                if(string.IsNullOrWhiteSpace(country.Name))
                                {
                                     foreach (var league in country.Leagues)
                                     { 
                                         <li><a ng-click="getItems(@league.Code,'@sport.Name'+','+'@region.Name'+','+'@league.Name')">@league.Name</a></li>
                                     }
                                }
                                else
                                {
                                    <li class="mtree-node mtree-closed">
                                        <a href="#" ng-click="setBreadcrumbPath('@sport.Name'+','+'@region.Name'+','+'@country.Name')" style="cursor: pointer;"><img src="Images/blank.gif" class="flag @country.Flag" alt="Argentina"> @country.Name</a>
                                        <ul class="mtree-level-3" style="overflow: hidden; height: 0px; display: none;">
                                 
                                        @foreach (var league in country.Leagues)
                                        { 
                                            <li><a ng-click="getItems(@league.Code,'@sport.Name'+','+'@region.Name'+','+'@country.Name'+','+'@league.Name')">@league.Name</a></li>
                                        }
                                    </ul>
                                </li>
                                }   
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
    </ul>
}
